# pycache
__pycache__/
api/__pycache__/

# Virtual environment
venv/
.DS_Store

# Logs file
flask_app.log
*.wav

# Videos
frontend/build/*.mp4
frontend/public/*.mp4

ffmpeg-git-i686-static.tar.xz
ffmpeg_dir/
vggish_model.ckpt

data/
Copy*